#side-nav {
    display:block;
    width:25%;
    height:100%;
    position: fixed;
    background:#acd0ff;
    border-right:3px solid #245494;
    left:0;
    top:0;
}

#main {
    margin-left:27%;
}
